{% extends 'base.html' %}

{% block main_content %}
    <section class="editPage">
        <form method="post" action="{% url 'profile_edit' %}">
            <fieldset>
                <legend>Edit Profile</legend>
                <div class="container">
                    {{ profile_form }}

                    {% csrf_token %}
                    <button class="edit-profile" type="submit">Edit Profile</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}